.submit-error {
    border-color: var(--lwc-colorBorderError);
}

.submit-success {
    border-color: var(--lwc-colorBorderSuccess);
}

.description {
    font-size: 0.75rem;
    white-space: pre-wrap;
}