[data-omni-key~="SearchbyDetails"].slds-hide , [data-omni-key="SearchbyIdentifier"].slds-hide {
    display: block!important;
    pointer-events: none;
}
[data-omni-key~="SearchbyDetails"].slds-hide button , [data-omni-key="SearchbyIdentifier"].slds-hide button {
    border: 1px solid #d4d4d4!important;
    color: #d4d4d4!important;
}
.slds-button_stretch {
    margin-top: 20px;
}

[data-omni-key~="Override"] {
    margin: 20px 0px;
    border-top: 1px solid #d4d4d4;
    padding-top: 22px
}

[data-omni-key~="searchPatient"].slds-hide {
    display: block!important;
    pointer-events: none
}

[data-omni-key~="searchPatient"].slds-hide button {
    background-color: #d4d4d4;
    border: #d4d4d4
}

.omni-block_content {
    padding-left: 0!important
}

[data-omni-key~="blockSearchByPHN"] {
    border-right: 1px solid #d4d4d4;
}
.datePickerHt {
    width: 240px;
}


[data-omni-key~="patientBirthdate"] .datePickerHt
{
    width: 240px;
}


[data-omni-key~="blockSearchByName"] .omni-block_content {
    margin-left: 40px
}

[data-omni-key~="LineBreak10"] {
    border-top: 1px solid #d4d4d4;
    margin-bottom: 20px
}

[data-omni-key~="firstname"],[data-omni-key~="lastname"] {
    width: 300px
}


[data-omni-key~="firstName"],[data-omni-key~="lastName"] {
    width: 300px;
    margin: 0px 10px
}

[data-omni-key~="dateOfBirth"] .datePickerHt {
    margin-top: 0!important
}

[data-omni-key~="gender"] {
    margin: 0px 10px;
}

[data-omni-key~="patientIdentifier"] {
    margin: 0px 20px;
    width: 300px
}

[data-omni-key~="validatePHN"] {
    margin: 0 10px;
    width: 200px
}

.slds-truncate {
    font-weight: 600
}

[data-omni-key~="InitialDosageDetail"] .slds-accordion__content .slds-text-block {
    padding: 20px;
    gap: 16px;
    border-radius: 4px;
    opacity: 0px;
    background: #EFEFEF;
}

[data-omni-key~="EnsureEligibility"] span {
    color: black!important
}

[data-omni-key~="TextBlock3"],[data-omni-key~="TextBlock1"] {
    margin-top: 15px;
    margin-bottom: 15px
}

[data-omni-key~="SignedDate"] .datePickerHt {
    width: 240px;
    margin-top: 0
}

[data-omni-key="searchPatient"] button,[data-omni-key="SearchbyIdentifier"] button,[data-omni-key="SearchbyDetails"] button,[data-omni-key="validatePHN"] button {
    border: 1px solid #0176D3!important;
    background-color: #fff!important;
    color: #0176D3!important
}

[data-omni-key="SearchbyIdentifier"] button,[data-omni-key="SearchbyDetails"] button {
    border: 1px solid #0176D3!important;
    background-color: #fff!important;
    color: #0176D3!important
}

.slds-grid {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0
}

[data-omni-key~="showPatientData"] .cf-vlocity-state-0 {
    background-color: #F9F9F8;
    font-weight: 700
}

[data-omni-key~="CustomLWC1"] .cf-vlocity-state-0:nth-child(even) {
    background-color: #EDECEB
}

[data-omni-key~="CustomLWC1"] .cf-vlocity-state-0:nth-child(odd) {
    background-color: #F9F9F8
}

[data-omni-key~="CustomLWC1"] .slds-size_12-of-12 {
    padding-bottom: 0
}

[data-omni-key~="CustomLWC1"] {
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 30px;
    margin-bottom: 25px;
}

[data-omni-key~="PatientDeatilsRenewal"] [data-omni-key~="gender"] {
    margin: 0px 0px;
}

.omniscript-step__body[lwc-314pbdlkbi2] {
    margin-top: 20px
}
[data-omni-key="datatableHeader"]{margin-bottom:0}
[data-omni-key="datatableHeader"] .cf-vlocity-state-0{background-color: #F9F9F8;padding:4px;font-weight:600}
[data-omni-key~="showPatientData"] .cf-vlocity-state-0:nth-child(even) {
    background-color: #EDECEB;
}

[data-omni-key~="showPatientData"] .cf-vlocity-state-0:nth-child(odd) {
    background-color: #F9F9F8;
}

[data-omni-key~="showPatientData"] {
    margin-top: 0px;
    margin-bottom: 0
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;
}

[data-omni-key~="PleaseEnterCaseNumber"] {
    width: 300px
}
.slds-radio_button [type=radio]:checked+.slds-radio_faux, .slds-radio_button [type=radio]:checked+.slds-radio--faux, .slds-radio_button [type=radio]:checked~.slds-radio_faux, .slds-radio_button [type=radio]:checked~.slds-radio--faux, .slds-radio_button [type=radio]:checked+.slds-radio_button__label, .slds-radio_button [type=radio]:checked+.slds-radio--button__label, .slds-radio--button [type=radio]:checked+.slds-radio_faux, .slds-radio--button [type=radio]:checked+.slds-radio--faux, .slds-radio--button [type=radio]:checked~.slds-radio_faux, .slds-radio--button [type=radio]:checked~.slds-radio--faux, .slds-radio--button [type=radio]:checked+.slds-radio_button__label, .slds-radio--button [type=radio]:checked+.slds-radio--button__label
{background-color:#3598db;border:1px solid #3598db}
.slds-radio_button:first-child>.slds-radio_faux, .slds-radio_button:first-child>.slds-radio--faux, .slds-radio_button:first-child>.slds-radio_button__label, .slds-radio_button:first-child>.slds-radio--button__label, .slds-radio--button:first-child>.slds-radio_faux, .slds-radio--button:first-child>.slds-radio--faux, .slds-radio--button:first-child>.slds-radio_button__label, .slds-radio--button:first-child>.slds-radio--button__label
{color:#3598db}
.slds-radio_button__label, .slds-radio--button__label{color:#3598db;}
[data-omni-key~="OverrideSelect"] [data-omni-key~="gender"]{padding-right:0}
[data-omni-key~="DisplayMedicationInformation"] strong{color:#013365}
.slds-checkbox .slds-checkbox__label .slds-form-element__label{visibility:hidden}
[data-omni-key~="dataTableheaderrenewal"]{background-color:#F9F9F8;margin-bottom:0;font-weight:600}