.comm-page-custom-new-submission-form [data-omni-key~="SearchbyDetails"].slds-hide , 
.comm-page-custom-new-submission-form [data-omni-key="SearchbyIdentifier"].slds-hide {
    display: block!important;
    pointer-events: none;
}
.comm-page-custom-new-submission-form [data-omni-key~="SearchbyDetails"].slds-hide button , 
.comm-page-custom-new-submission-form [data-omni-key="SearchbyIdentifier"].slds-hide button {
    border: 1px solid #d4d4d4!important;
    color: #d4d4d4!important;
}

.comm-page-custom-new-submission-form .slds-button_stretch {

    margin-top: 20px;

}
 
.comm-page-custom-new-submission-form [data-omni-key~="Override"] {
    margin: 20px 0px;
    border-top: 1px solid #d4d4d4;
    padding-top: 22px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="searchPatient"].slds-hide {
    display: block!important;
    pointer-events: none

}

.comm-page-custom-new-submission-form [data-omni-key~="SearchbyDetails"].slds-hide {

    display: block!important;
    pointer-events: none;

}

.comm-page-custom-new-submission-form [data-omni-key~="SearchbyDetails"].slds-hide button {

    border: 1px solid #d4d4d4!important;

    color: #d4d4d4!important;

}
 
.comm-page-custom-new-submission-form .omni-block_content {

    padding-left: 0!important

}
 
.comm-page-custom-new-submission-form [data-omni-key~="blockSearchByPHN"] {

    border-right: 1px solid #d4d4d4;

}
 
.comm-page-custom-new-submission-form .datePickerHt {

    width: 240px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="blockSearchByName"] .omni-block_content {

    margin-left: 40px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="LineBreak10"] {

    border-top: 1px solid #d4d4d4;

    margin-bottom: 20px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="firstname"],
.comm-page-custom-new-submission-form[data-omni-key~="lastname"] {

    width: 300px

}
 
.comm-page-custom-new-submission-form .datePickerHt {

    margin-top: 20px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="firstName"],
.comm-page-custom-new-submission-form [data-omni-key~="lastName"] {

    width: 300px;

    margin: 0px 10px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="dateOfBirth"] .datePickerHt {

    margin-top: 0!important

}
 
.comm-page-custom-new-submission-form [data-omni-key~="gender"] {

    margin: 0px 10px;

}
 
.comm-page-custom-new-submission-form [data-omni-key~="patientIdentifier"] {

    margin: 0px 20px;

    width: 300px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="validatePHN"] {

    margin: 0 10px;

    width: 200px

}
 
.comm-page-custom-new-submission-form .slds-truncate {

    font-weight: 600

}
 
.comm-page-custom-new-submission-form [data-omni-key~="InitialDosageDetail"] .slds-accordion__content .slds-text-block {

    padding: 20px;

    gap: 16px;

    border-radius: 4px;

    opacity: 0px;

    background: #EFEFEF;

}
 
.comm-page-custom-new-submission-form [data-omni-key~="EnsureEligibility"] span {

    color: black!important

}
 
.comm-page-custom-new-submission-form [data-omni-key~="TextBlock3"],
.comm-page-custom-new-submission-form [data-omni-key~="TextBlock1"] {

    margin-top: 15px;

    margin-bottom: 15px

}
 
.comm-page-custom-new-submission-form [data-omni-key~="SignedDate"] .datePickerHt {

    width: 240px;

    margin-top: 0

}
 
.comm-page-custom-new-submission-form [data-omni-key="searchPatient"] button,
.comm-page-custom-new-submission-form [data-omni-key="SearchbyIdentifier"] button,
.comm-page-custom-new-submission-form [data-omni-key="SearchbyDetails"] button,
.comm-page-custom-new-submission-form [data-omni-key="validatePHN"] button {

    border: 1px solid #0176D3!important;

    background-color: #fff!important;

    color: #0176D3!important

}
 
.comm-page-custom-new-submission-form [data-omni-key="SearchbyIdentifier"] button,
.comm-page-custom-new-submission-form [data-omni-key="SearchbyDetails"] button {

    border: 1px solid #0176D3;

    background-color: #fff;

    color: #0176D3

}
 
.comm-page-custom-new-submission-form .slds-grid {

    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0

}
 
.comm-page-custom-new-submission-form [data-omni-key~="showPatientData"] .cf-vlocity-state-0 {

    background-color: #F9F9F8;

    font-weight: 700

}
 
.comm-page-custom-new-submission-form [data-omni-key~="CustomLWC1"] .cf-vlocity-state-0:nth-child(even) {

    background-color: #EDECEB

}
 
.comm-page-custom-new-submission-form [data-omni-key~="CustomLWC1"] .cf-vlocity-state-0:nth-child(odd) {

    background-color: #F9F9F8

}
 
.comm-page-custom-new-submission-form [data-omni-key~="CustomLWC1"] .slds-size_12-of-12 {

    padding-bottom: 0

}
 
.comm-page-custom-new-submission-form [data-omni-key~="showPatientData"] {

    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;

}
 
.comm-page-custom-new-submission-form [data-omni-key~="CustomLWC1"] {

    padding-bottom: 20px;

    border-bottom: 1px solid #D9D9D9;

    margin-bottom: 30px;

    margin-bottom: 25px;

}
 
.comm-page-custom-new-submission-form [data-omni-key~="PatientDeatilsRenewal"],
.comm-page-custom-new-submission-form[data-omni-key~="gender"] {

    margin: 0px 0px;

}
 
.comm-page-custom-new-submission-form .omniscript-step__body[lwc-314pbdlkbi2] {

    margin-top: 20px

}

.comm-page-custom-new-submission-form [data-omni-key="datatableHeader"]{margin-bottom:0}

.comm-page-custom-new-submission-form [data-omni-key="datatableHeader"] .cf-vlocity-state-0{background-color: #F9F9F8;padding:4px;font-weight:600}

.comm-page-custom-new-submission-form [data-omni-key~="showPatientData"] .cf-vlocity-state-0:nth-child(even) {

    background-color: #EDECEB;

}
 
.comm-page-custom-new-submission-form [data-omni-key~="showPatientData"] .cf-vlocity-state-0:nth-child(odd) {

    background-color: #F9F9F8;

}
 
.comm-page-custom-new-submission-form [data-omni-key~="PleaseEnterCaseNumber"] {

    width: 300px

}

.comm-page-custom-new-submission-form .slds-radio_button [type=radio]:checked+.slds-radio_faux, 
.comm-page-custom-new-submission-form .slds-radio_button [type=radio]:checked+.slds-radio--faux, 
.comm-page-custom-new-submission-form .slds-radio_button [type=radio]:checked~.slds-radio_faux, 
.comm-page-custom-new-submission-form .slds-radio_button [type=radio]:checked~.slds-radio--faux, 
.comm-page-custom-new-submission-form .slds-radio_button [type=radio]:checked+.slds-radio_button__label,
.comm-page-custom-new-submission-form .slds-radio_button [type=radio]:checked+.slds-radio--button__label,
.comm-page-custom-new-submission-form .slds-radio--button [type=radio]:checked+.slds-radio_faux, 
.comm-page-custom-new-submission-form .slds-radio--button [type=radio]:checked+.slds-radio--faux, 
.comm-page-custom-new-submission-form .slds-radio--button [type=radio]:checked~.slds-radio_faux, 
.comm-page-custom-new-submission-form .slds-radio--button [type=radio]:checked~.slds-radio--faux, 
.comm-page-custom-new-submission-form .slds-radio--button [type=radio]:checked+.slds-radio_button__label, 
.comm-page-custom-new-submission-form .slds-radio--button [type=radio]:checked+.slds-radio--button__label

{background-color:#3598db;border:1px solid #3598db}

.comm-page-custom-new-submission-form .slds-radio_button:first-child>.slds-radio_faux,
.comm-page-custom-new-submission-form .slds-radio_button:first-child>.slds-radio--faux,
.comm-page-custom-new-submission-form .slds-radio_button:first-child>.slds-radio_button__label,
.comm-page-custom-new-submission-form .slds-radio_button:first-child>.slds-radio--button__label,
.comm-page-custom-new-submission-form .slds-radio--button:first-child>.slds-radio_faux,
.comm-page-custom-new-submission-form .slds-radio--button:first-child>.slds-radio--faux,
.comm-page-custom-new-submission-form .slds-radio--button:first-child>.slds-radio_button__label,
.comm-page-custom-new-submission-form .slds-radio--button:first-child>.slds-radio--button__label

{color:#3598db}

.comm-page-custom-new-submission-form .slds-radio_button__label,
.comm-page-custom-new-submission-form .slds-radio--button__label{color:#3598db;}

.comm-page-custom-new-submission-form [data-omni-key~="OverrideSelect"],
.comm-page-custom-new-submission-form [data-omni-key~="gender"]{padding-right:0}

.comm-page-custom-new-submission-form [data-omni-key~="DisplayMedicationInformation"] strong{color:#013365}

.comm-page-custom-new-submission-form .slds-checkbox .slds-checkbox__label .slds-form-element__label{visibility:visible;}

.comm-page-custom-new-submission-form [data-omni-key~="dataTableheaderrenewal"]{background-color:#F9F9F8;margin-bottom:0;font-weight:600}
.comm-page-custom-new-submission-form [data-omni-key~="CreateRecordManually"] div .slds-form-element__control .slds-form-element__label{visibility:visible}

.comm-page-custom-new-submission-form .os-step-label[lwc-314pbdlkbi2] {
    margin-top: 40px;
}

.comm-page-custom-new-submission-form .omni-hz-stepchart-label[lwc-338rpgu650c] {
     margin-top: 5px;
}