.os-step-label[lwc-314pbdlkbi2]
{
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

h3
{
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 19.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
#content-65 .slds-form-container textarea
{
width: 697px;
height: 102px!important;
top: 20px;
padding: 6px 12px 76px 12px;
gap: 0px;
border: 1px solid;
border-radius: 4px!important;
opacity: 0px;
overflow:hidden!important;
}
.slds-textarea
{
width: 697px;
height: 62px;
top: 20px;
padding: 6px 12px 36px 12px;
gap: 0px;
border: 1px solid;
border-radius: 4px!important;
opacity: 0px;
overflow:hidden!important;
}
.slds-form-element__label slds-show--inline,label.slds-form-element__label[lwc-5p4me4cf7bg]
{
width:688px!important;
}
.slds-rich-text-editor__output div
{
font-family: Segoe UI;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}