swagger: "2.0"
info:
  description: "Documentation for Salesforce Special Authority REST Service"
  version: "1.0.0"
  title: "Special Authority API"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "bchealth.my.salesforce.com"
basePath: "/"
tags:
- name: "SA"
  description: "Special Authority"
  externalDocs:
    description: "Find out more"
    url: "https://github.com/bcgov/MoH-SAT.git"
schemes:
- "https"
paths:
  /services/apexrest/SA:
    get:
      tags:
      - "SA"
      summary: "Get Special Authority Status"
      description: "This endpoint delivers the status of a given Special Authority Request."
      operationId: "getSpecialAuthorityStatus"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        type: "string"
        name: "phn"
        description: "Patient PHN"
        required: true
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/SaList"
        "400":
          description: "Invalid PHN supplied"
        "403":
          description: "Not Authorized"
        "404":
          description: "Special Authority Request not found"
        "405":
          description: "Validation exception"
      security:
      - sa_auth:
        - "service"
    post:
      tags:
      - "SA"
      summary: "Add a new Special Authority Request"
      description: "This endpoint is meant for 3rd party services, such as eForms, the ability to push data into Salesforce for Automatic or Manual adjudication."
      operationId: "addSARequest"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Payload will be generic JSON"
        required: true
        schema:
          $ref: "#/definitions/SpecialAuthorityRequest"
      responses:
        "200":
          description: "Request received."
        "403":
          description: "Not Authorized"
        "405":
          description: "Invalid input"
      security:
      - sa_auth:
        - "service"
securityDefinitions:
  sa_auth:
    type: "oauth2"
    authorizationUrl: "https://salesforce.com/oauth"
    flow: "implicit"
    scopes:
      service: "service account role"
definitions:
  SpecialAuthorityRequest:
    type: "object"
    required:
    - "id"
    - "payload"
    properties:
      id:
        type: "integer"
        format: "int64"
      payload:
        type: "object"
        description: "eForm Data"
  SaList:
    type: "object"
    properties:
      items:
        type: "array"
        items:
          $ref: "#/definitions/SaItem"
  SaItem:
    type: "object"
    properties:
      patientIdentifier: 
        type: "string"
      patientFirstName:
        type: "string"
      patientLastName:
        type: "string"
      prescriberFirstName:
        type: "string"
      prescriberLastName:
        type: "string"
      drugName:
        type: "string"
      referenceNumber:
        type: "string"
      requestStatus:
        type: "string"
      requestedDate:
        type: "string"
        format: "date-time"
      effectiveDate:
        type: "string"
        format: "date"
      expiryDate:
        type: "string"
        format: "date"
